/* stylees.css */

.etiqueta {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.botao {
    -fx-font-family: 'UnPilgi';
    -fx-font-size: 12px;
}

.campoTexto {
    -fx-font-family: 'Comic Neue Light';
    -fx-font-size: 16px;
}