/* stylees.css */

.etiqueta {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-background-color: blue; /* ou #0000FF */
    -fx-text-fill: pink;
}

.botao {
    -fx-font-family: 'UnPilgi';
    -fx-font-size: 12px;
    -fx-background-color: rgba(255, 0, 0, 0.5); /* equivalente à (Red, Green, Blue, % Transparência) */
    -fx-text-fill: white;
}

.campoTexto {
    -fx-font-family: 'Comic Neue Light';
    -fx-font-size: 16px;
    -fx-background-color: green;
    -fx-text-fill: red;
}